@using Microsoft.AspNetCore.Identity
@using RoyalTravel.Data.Models

@inject UserManager<ApplicationUser> userManager
@model RoyalTravel.ViewModels.Rewards.RewardsInputModel

@{
    ViewData["Title"] = "Royal Rewards";
}
<head>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main">
                <div id="page-content-wrapper">
                    @if (Model.StayViewModels.Count == 0)
                    {
                        <div class="alert alert-dark text-center" role="alert">
                            You don't have any reservations yet! You can find some accommodations <a class="alert-link" asp-controller="Booking" asp-action="Index">here</a>.
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3 text-center">
                            Total Points Earned: @Model.UserDataViewModel.TotalPoints
                        </div>
                        <div class="col-md-3 text-center">
                            Current Tier: @Model.UserDataViewModel.RewardsTier
                        </div>
                        <div class="col-md-3 text-center row">
                            <a type="submit" class="btn btn-success btn-sm" asp-controller="Rewards" asp-action="About">
                                About Rewards Program
                            </a>
                        </div>
                        <table class="table table-striped text-center">

                            <thead>
                                <tr>
                                    <th scope="col">Booked On</th>
                                    <th scope="col">Hotel Name</th>
                                    <th scope="col">Room type</th>
                                    <th scope="col">Arrival</th>
                                    <th scope="col">Departure</th>
                                    <th scope="col">Points to Earn</th>
                                    <th scope="col">Points Spend</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col"></th>
                                    <th scope="col">Use Points</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var stay in Model.StayViewModels)
                                {
                                    <tr>
                                        <td>@stay.BookedOn</td>
                                        <td>@stay.Hotel</td>
                                        <td>@stay.RoomType</td>
                                        <td>@stay.ArrivalDate.ToString("MM/dd/yyyy")</td>
                                        <td>@stay.DepartureDate.ToString("MM/dd/yyyy")</td>
                                        <td>@stay.PointsEarned</td>
                                        <td>
                                            @if (stay.PointsSpend == null)
                                            {
                                                <p>0</p>
                                            }
                                            else
                                            {
                                                <span class="text-success">@stay.PointsSpend</span>
                                            }
                                        </td>
                                        <td>@stay.Price$</td>
                                        <td>@stay.TotalPrice$</td>
                                        <td>
                                            @if (stay.DepartureDate == DateTime.Today)
                                            {

                                            }
                                            else
                                            {
                                                if (stay.ArrivalDate <= DateTime.Today)
                                                {
                                                    <button type="button" class="btn btn-warning btn-sm">
                                                        Past reservation
                                                    </button>
                                                }
                                                else
                                                {
                                                    if (stay.IsCanceled)
                                                    {
                                                        <button type="button" class="btn btn-dark btn-sm">
                                                            Canceled
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <form method="get">
                                                            <a type="submit" class="btn btn-danger btn-sm" asp-controller="Rewards" asp-action="CancelReservation" asp-route-stayId="@stay.StayId">
                                                                Cancel<span class="ml-1"><i class="fas fa-times"></i></span>
                                                            </a>
                                                        </form>

                                                    }

                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (Model.UserDataViewModel.TotalPoints >= 15000 && stay.IsCanceled == false && stay.DepartureDate > DateTime.Today && stay.TotalPrice >= stay.Price)
                                            {
                                                <form method="get">
                                                    <a type="submit" class="btn btn-success btn-sm" asp-controller="Rewards" asp-action="UsePoints" asp-route-stayId="@stay.StayId">
                                                        15,000 Points 
                                                    </a>

                                                </form>
                                            }

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@*<form method="get" asp-controller="Booking" asp-action="SearchHotels">
        <div class="row">
            <div class="col">
                <label for="destination">Where to?</label>
                <input asp-for="InputModel.Destination" class="form-control" type="text" id="destination" width="276" name="destination" placeholder="Enter Destination" required />
            </div>
            <div class="col">
                <label for="dp1">Arrival</label>
                <input id="dp1" type="text" class="form-control clickable input-md" id="DtChkIn" placeholder="&#xf133;  Check-In" width="276" name="checkIn" required autocomplete="off">
            </div>
            <div class="col">
                <label for="dp2">Departure</label>
                <input id="dp2" type="text" class="form-control clickable input-md" id="DtChkOut" placeholder="&#xf133;  Check-Out" width="276" name="checkOut" required autocomplete="off">
            </div>
            <div class="col">
                <label for="adults">Adults</label>
                <select asp-for="InputModel.Adults" class="form-control" id="adults" width="276" name="adults" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="col">
                <label for="kids">Children</label>
                <select class="form-control" id="kids" width="276" name="children">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div style="margin-top:24px" class="row">
            <button type="submit" class="btn btn-primary btn-lg btn-block" asp-controller="Booking" asp-action="SearchHotels">Find Hotels</button>
        </div>
    </form>*@

<script src="~/js/JsQuery/jquery.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>






