@{
    ViewData["Title"] = "Hotel";
}

@model RoyalTravel.ViewModels.Booking.SelectedHotelViewModel


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/TableSelectedHotel.css" rel="stylesheet">
</head>

<body>
        <div class="container-fluid">
            <div class="icon-bar">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Free Wifi</th>
                            <th scope="col">Free Breakfast</th>
                            <th scope="col">Free Parking</th>
                            <th scope="col">Restaurant On-site</th>
                            <th scope="col">Pool</th>
                            <th scope="col">Airport Shuttle</th>
                            <th scope="col">Local Shuttle</th>
                            <th scope="col">Fitness Center</th>
                            <th scope="col">Pet-Friendly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                @if (Model.WiFi)
                                {
                                    <i class="fas fa-wifi fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-wifi" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.Breakfast)
                                {
                                    <i class="fas fa-coffee fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-coffee fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.Parking)
                                {
                                    <i class="fas fa-parking fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-parking fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.Restaurant)
                                {
                                    <i class="fas fa-utensils fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-utensils fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.Pool)
                                {
                                    <i class="fas fa-swimming-pool fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-swimming-pool fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.AirportShuttle)
                                {
                                    <i class="fas fa-plane-arrival fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-plane-arrival fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.LocalShuttle)
                                {
                                    <i class="fas fa-shuttle-van fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-shuttle-van fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.FitnessCenter)
                                {
                                    <i class="fas fa-dumbbell fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-dumbbell fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                            <td>
                                @if (Model.AllowPets)
                                {
                                    <i class="fas fa-paw fa-3x" style="color:#1B902E"></i>
                                }
                                else
                                {
                                    <i class="fas fa-paw fa-3x" style="color:#9DA0A2"></i>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.RoomTypes.Count() > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Room Type</th>
                                    <th scope="col">Non-Smoking/Smoking</th>
                                    <th scope="col">Max Occupancy</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            @foreach (var room in Model.RoomTypes)
                            {

                                <tbody>
                                    <tr>
                                        <td>@room.RoomType</td>
                                        @if (room.Smoking)
                                        {
                                            <td>Smoking</td>
                                        }
                                        else
                                        {
                                            <td>Non-Smoking</td>
                                        }
                                        <td>@room.MaxOccupancy</td>
                                        <td>
                                            <a id="modal-892189" href="#modal-container-892189" role="button" class="btn" data-toggle="modal">
                                                <i class="fas fa-info-circle fa-2x" style="color:#6351ce"></i>
                                            </a>
                                            <div class="modal fade" id="modal-container-892189" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center" id="myModalLabel">
                                                                Room Details
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @room.Description
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </td>
                                        <td>@room.Price</td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    }



                </div>
            </div>
        </div>
    
       
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-center">
                    Property Info:
                </h2>
                <p>
                    @Model.Information
                </p>

            </div>
            <div class="col-md-4">

                <h2 class="text-center">
                    Description
                </h2>
                <p>
                    @Model.Description
                </p>

            </div>
            <div class="col-md-4">
                <address>
                    <br> @Model.Address <br>+961 649 269
                </address>
                
            </div>
        </div>
        


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>


